body {
	font: 17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image: url('../images/twitterbg.gif');
}

.wrapper {
	margin-right: 20%;
	margin-left: 20%;
}

.hi {
	background-color: yellow;
}

#tweets {
	background-color: #FFFFFF;
	border-radius: 1%;
	padding: 15px;
	margin-top: 15px;
}

#name {
	width: 400px;
	border: 5px lightblue solid;
	height: 25px;
}